@model UserClass.Model.UserTable

@{
    ViewBag.Title = "UpdateUser";
}

<h2>UpdateUser</h2>
<h1>Details of Mr.@Model.userFirstName</h1>
<hr />
<div>
    @using (Html.BeginForm())
    {
        <p>
            Address : @Html.EditorFor((m) => m.userAddress)

        </p>
        <p>
            Contact Number : @Html.EditorFor((m) => m.userContact)

        </p>
        <p>
            <button>Update</button>
        </p>
    }
</div>

